@using FirstProjectRepository.UsefullModels;
@using FirstProjectRepository.DBModels;
@model Comment

<h2>Edit Comment</h2>
<form method="post" asp-action="EditComment">
    <input type="hidden" name="commentId" value="@Model.id" />
    <textarea name="editedText" rows="4" cols="50" required>@Model.text</textarea>
    <br />
    <button type="submit">Save Changes</button>
</form>
