@{
    Layout = null;
}

<html>
<head>
    <title>Logout</title>
</head>
<body>
    <h2>Are you sure you want to log out?</h2>
    <form method="post" asp-action="LogoutConfirmed">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
